[override] osb-component-test h1 {
  color: $color-black;
}

[override] osb-component-test h2 {
  color: red;
}

[override] osb-component-test h3 {
  color: blue;
}

[override] osb-component-test .container {
  background: $color-white;
}